# Project exclude paths
/.gradle/
/build/
/java/build/
/main/build/
/shared/build/
/build/classes/kotlin/jvm/main/
/build/js/packages/vollstapel/kotlin/
/.idea/
/kotlin-js-store/
/.run/
/.kotlin/
/java/src/jvmMain/resources/config.properties
/querys.crt
.aider*
/node_modules/
/package-lock.json
/package.json
/Screen*.png
